n8n_workflows/huggingface_scraper_workflow.json
{
  "name": "One9Founders Hugging Face Scraper (6-hourly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "cron-6hourly",
      "name": "6-Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\n\nconst API_BASE = process.env.API_BASE_URL || 'http://localhost:8000/api';\n\ntry {\n  console.log('Running Hugging Face scraper...');\n  \n  // Run scraper with 6-hour lookback\n  const output = execSync(\n    'cd /app && python -m scrapers.huggingface.scraper --limit 100 --days-back 0.25',\n    { encoding: 'utf-8', timeout: 300000 }\n  );\n  \n  const data = JSON.parse(output);\n  \n  return [{\n    json: {\n      source: 'huggingface',\n      status: 'success',\n      items_count: data.items?.length || 0,\n      items: data.items || []\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      source: 'huggingface',\n      status: 'failed',\n      error: error.message\n    }\n  }];\n}"
      },
      "id": "run-hf-scraper",
      "name": "Run HuggingFace Scraper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "success"
            }
          ]
        }
      },
      "id": "filter-success",
      "name": "Filter Successful",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/api/pipeline/ingest/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "huggingface"
            },
            {
              "name": "items",
              "value": "={{ $json.items }}"
            },
            {
              "name": "batch_id",
              "value": "huggingface_{{ $now.format('yyyyMMdd_HHmmss') }}"
            }
          ]
        }
      },
      "id": "ingest-data",
      "name": "Ingest to Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/api/pipeline/run/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "full"
            },
            {
              "name": "source",
              "value": "huggingface"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        }
      },
      "id": "run-pipeline",
      "name": "Run Pipeline (HF only)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "errorMessage": "HuggingFace scraper failed: {{ $json.error }}"
      },
      "id": "log-failure",
      "name": "Log Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "retry-trigger",
      "name": "Retry Failed (30 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 500],
      "disabled": true
    }
  ],
  "connections": {
    "6-Hourly Trigger": {
      "main": [
        [
          {
            "node": "Run HuggingFace Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run HuggingFace Scraper": {
      "main": [
        [
          {
            "node": "Filter Successful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Successful": {
      "main": [
        [
          {
            "node": "Ingest to Pipeline",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest to Pipeline": {
      "main": [
        [
          {
            "node": "Run Pipeline (HF only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "one9founders",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "huggingface",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
