n8n_workflows/retry_failed_workflow.json
{
  "name": "One9Founders Retry Failed Scrapers",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "retry-trigger",
      "name": "Retry Trigger (30 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/api/pipeline/runs/?status=failed&type=scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "check-failed",
      "name": "Check Failed Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.results?.length || 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-failures",
      "name": "Has Recent Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const failedRuns = $input.first().json.results || [];\nconst now = new Date();\nconst thirtyMinsAgo = new Date(now.getTime() - 30 * 60 * 1000);\n\n// Filter runs that failed in the last 30-60 minutes (retry window)\nconst recentFailures = failedRuns.filter(run => {\n  const startedAt = new Date(run.started_at);\n  return startedAt >= thirtyMinsAgo;\n});\n\n// Get unique sources that need retry\nconst sourcesToRetry = [...new Set(recentFailures.map(r => r.source))];\n\nreturn sourcesToRetry.map(source => ({ json: { source } }));"
      },
      "id": "extract-sources",
      "name": "Extract Failed Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst source = $input.first().json.source;\n\ntry {\n  console.log(`Retrying ${source} scraper...`);\n  \n  const output = execSync(\n    `cd /app && python -m scrapers.${source}.scraper --limit 50 --days-back 1`,\n    { encoding: 'utf-8', timeout: 300000 }\n  );\n  \n  const data = JSON.parse(output);\n  \n  return [{\n    json: {\n      source,\n      status: 'success',\n      retry: true,\n      items_count: data.items?.length || 0,\n      items: data.items || []\n    }\n  }];\n  \n} catch (error) {\n  return [{\n    json: {\n      source,\n      status: 'failed',\n      retry: true,\n      error: error.message\n    }\n  }];\n}"
      },
      "id": "retry-scraper",
      "name": "Retry Scraper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "success"
            }
          ]
        }
      },
      "id": "retry-success",
      "name": "Retry Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/api/pipeline/ingest/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $json.source }}"
            },
            {
              "name": "items",
              "value": "={{ $json.items }}"
            },
            {
              "name": "batch_id",
              "value": "={{ $json.source }}_retry_{{ $now.format('yyyyMMdd_HHmmss') }}"
            }
          ]
        }
      },
      "id": "ingest-retry",
      "name": "Ingest Retry Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 100]
    },
    {
      "parameters": {
        "errorMessage": "Retry failed for {{ $json.source }}: {{ $json.error }}"
      },
      "id": "log-retry-failure",
      "name": "Log Retry Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1450, 300]
    },
    {
      "parameters": {},
      "id": "no-failures",
      "name": "No Recent Failures",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Retry Trigger (30 min)": {
      "main": [
        [
          {
            "node": "Check Failed Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Failed Runs": {
      "main": [
        [
          {
            "node": "Has Recent Failures?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Recent Failures?": {
      "main": [
        [
          {
            "node": "Extract Failed Sources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Recent Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Failed Sources": {
      "main": [
        [
          {
            "node": "Retry Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Scraper": {
      "main": [
        [
          {
            "node": "Retry Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Successful?": {
      "main": [
        [
          {
            "node": "Ingest Retry Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Retry Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "one9founders",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "retry",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
